<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bonjour</title>
</head>
<body>
<style>
    .button {
        border-style: solid;
        border-width : 1px 1px 1px 1px;
        text-decoration : none;
        padding : 4px;
        border-color : #000000
    }
</style>
    <h2>Bonjour</h2>
    <div>
        <h3>Liste des agendas</h3>
        <ul>
            <li th:each="agenda : ${agendas}">
                <span th:text="${agenda.nom}"/>


                <a style="margin: 30px" class="button" th:href="@{'/agenda/event?name=' + ${agenda.nom}}" >Voir les événements</a>
                <a style="margin: 30px" class="button" th:href="@{'/agenda/add-event?name=' + ${agenda.nom}}" >Ajouter événement </a>
            </li>
        </ul>
    </div>
    
    <div>
        <h3>Ajouter un agenda</h3>
        <form th:action="@{/addAgenda}" th:object="${newAgenda}" method="post">
            <div>
                <label for="nom">Nom:</label>
                <input type="text" id="nom" th:field="*{nom}">
            </div>
            <button type="submit">Ajouter</button>
        </form>
    </div>
    
    <div style="margin-top: 50px">
        <a class="button" href="/logout">Se déconnecter</a>
    </div>
</body>
</html>
